# Helper
test/helper/*.pdf
test/helper/ccb*.docx
test/ccb.spec.js

# Dir
.vite
coverage/**
# dist
logs
node_modules
resource

# File
*-lock.*
*.lock
*.log
*.log*
.conf/local.sh
.registry-*
_cleanup
_init
vite.config.js.timestamp-*

# Keep
# !coverage/lcov.info
